* { // Шрифт на всей странице
    font-family: 'WDXL Lubrifont TC', system-ui, sans-serif;
    letter-spacing: 1.5px;
}

html {
    font-size: 16px;
    @include bp-3xl {
        font-size: 15px;
    }
    @include bp-xl {
        font-size: 14px;
    }
}