@import 'vars';
@import 'reset';
@import 'mixins';

// Секции
@import 'header';


* {
    font-family: 'WDXL Lubrifont TC', system-ui, sans-serif;
    letter-spacing: 1.5px;
}
.gav {
    color: black;
}